<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  id="WebApp_ID"
  version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <!--         <param-value>Development</param-value> -->
    <param-value>Production</param-value>
  </context-param>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2
    </description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/WEB-INF/webutils.taglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jContextName</param-name>
    <param-value>Samply.Share.Broker</param-value>
  </context-param>
  <display-name>Samply.Share.Broker</display-name>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/WEB-INF/errorpages/expired.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>java.sql.SQLException</exception-type>
    <location>/WEB-INF/errorpages/database.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/errorpages/bug.xhtml</location>
  </error-page>
  <filter>
    <filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
    <filter-name>noCache</filter-name>
  </filter>
  <filter-mapping>
    <filter-name>noCache</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <!-- Setting it to client crashes if a group is the first thing selected in the query builder -->
  <listener>
    <listener-class>de.samply.share.broker.listener.StartupListener</listener-class>
  </listener>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/x-font-woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff2</extension>
    <mime-type>application/font-woff2</mime-type>
  </mime-mapping>
  <resource-env-ref>
    <!-- Enable Weld CDI, also needs META-INF/context.xml entry -->
    <resource-env-ref-name>BeanManager</resource-env-ref-name>
    <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
  </resource-env-ref>
  <servlet>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
      <file-size-threshold>1073741824</file-size-threshold>
      <max-file-size>1073741824</max-file-size>
      <max-request-size>209715200</max-request-size>
    </multipart-config>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <servlet-name>Faces Servlet</servlet-name>
  </servlet>
  <servlet>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>de.samply.share.broker.rest</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>
        org.glassfish.jersey.media.multipart.MultiPartFeature;de.samply.share.broker.filter.AuthenticationFilter;de.samply.share.broker.filter.AuthorizationFilter;
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <servlet-name>Jersey Web Application</servlet-name>
  </servlet>
  <servlet>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>de.samply.share.broker.rest</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>
        org.glassfish.jersey.media.multipart.MultiPartFeature;de.samply.share.broker.filter.AuthenticationFilter;de.samply.share.broker.filter.AuthorizationFilter
      </param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <servlet-name>Observer Endpoint</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/javax.faces.resource/*</url-pattern>
    <!-- for font-awesome to be accessible -->
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Observer Endpoint</servlet-name>
    <url-pattern>/observe/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <!-- Session idle timeout in min. -->
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!--<security-constraint>-->
  <!--<web-resource-collection>-->
  <!--<web-resource-name>Samply.Share.Broker</web-resource-name>-->
  <!--<url-pattern>/*</url-pattern>-->
  <!--</web-resource-collection>-->
  <!--<user-data-constraint>-->
  <!--<transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
  <!--</user-data-constraint>-->
  <!--</security-constraint>-->
</web-app>
